<%- include('../partials/home-header.ejs') %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="/css/project.css">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
  <div class="jumbotron jumbotron-fluid" >
   <div >
   <div class="container" >
  <div class="w-100 p-1" >
    <h1 class="display-4 " ><b> Mini Project</b></h1>
   
    <p class="lead" style="color: #ffff66 ;">These projects will help your juniors to choose a better project for them. </p>
    <br>

    <div class="container col-md-6 ">  
            <center> <h2 class="register-heading">Add Mini Project</h2></center>
            <br>
            <form>
                
                <div class="form-group">
                  <label for="name">Project Name :</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="fluid"></div>
                <Label>Student 1 : </Label>
                <div class="form-group col-md-6">
                    <label for="name1">Name :</label>
                    <input type="text" class="form-control" id="name2">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name1">usn :</label>
                    <input type="text" class="form-control" id="name2">
                  </div>


                <button type="submit" class="btn btn-primary">Submit</button>

              </form>
    </div>
</div>
</div>
</div>
</div>
    <div class="container h-100" >
      <b style="font-size: 30px;">Instruction to Mini Project :</b>
  <p class="lead"><h5></h5> </p>
    </div>
  </body>
</html>
