<%- include('./partials/home-header.ejs') %>
</head>

<body style="background-color: #2e5693; color: whitesmoke; text-align: center; " >
    <%- include('./includes/navigation.ejs') %>
    <h1 style="padding: 10%;" > Under Construction !!!</h1>

<%- include('includes/end.ejs') %>