    .jumbotron-fluid{
    width:100%;
    padding:20px;
    color:white;
   background: #2e5693!important;
    padding-bottom:20px;
    padding-top:10px;
    font-size:x-large;
    }
    img{
        width: 100%;
        height: 60%;
    }
    p{
        font-size:larger;;
    } 
    .padding{

        padding-left: 5%;
        padding-right: 5%;
    }
    .center {
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    }

    ul{
        font-size:larger;
    } 
    .nav-item{
        font-size:medium;
    }           