.head{
  margin-top: -65px;
  margin-bottom: -80px;
  color: #ffff;
  background-color:#2e5693;
}
.dropdown-submenu {
  position: relative;
}
label{
    font-size: larger;
}
.col-md-6{
    padding: 5%;
}
.add-button{
    float:right; 
    color: white; 
    margin-right: 3%; 
    margin-top: -20px;
}
.search-div{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e9ecef;
    }
#check{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #e9ecef;
    }
ol{
    font-size: larger;
}