<%- include('../partials/home-header.ejs') %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="css/project.css">
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
  <div class="jumbotron jumbotron-fluid" >
  
   <div >
   <div class="container" >
  <div class="w-100 p-1" >
    <h1 class="display-4 " ><b> Mini Project</b></h1>
    <p class="lead" style="color: #ffff66 ;">Use Domain option to sort the list of Miniprojet. </p>

    <p class="lead"></p>
	<div class="dropdown" >
    <button class="dropbtn">Select Domain</button>
    <div class="dropdown-content">
      <form action="/majorproject" method="POST">
        <input class="buttons" type="submit" name ="domain" value="Android Development"/>
        <input class="buttons" type="submit" name ="domain" value="Big Data Analysis"/>
      <input class="buttons" type="submit" name ="domain" value="Computer Vision"/>
      <input class="buttons" type="submit" name ="domain" value="IOT"/>
      <input class="buttons" type="submit" name ="domain" value="Machine Learning"/>
      <input class="buttons" type="submit" name ="domain" value="Web Technologies"/>
      <input class="buttons" type="submit" name ="domain" value="Web Technologies"/>
      <input class="buttons" type="submit" name ="domain" value="All"/>  
      </form>
    

</div>
</div>
<form action="/majorproject" method="post">
  <div class="d-flex justify-content-left h-100" >
    <div class="searchbar"> 
      <input class="search_input" type="text" name="userInput" placeholder="Enter the project or mentor's name... " required />
      <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>
    <div class="container h-100" >
      <b style="font-size: 30px;"> About Mini Project :</b>
	  <p class="lead"><h5>A mini project is a bit of code which can be produced by a small group(nearly 3-4 members).<br>These projects can be created in C,C++,JAVA,J2EE etc.. topics like Cloud Computing , Networking,Big Data Analysis,Data Mining(if your group is intrested).<br>Real world projects are more appreciated rather than static projects.<br>Mini projects are expected to be finished within a span of nearly 3-4 months.Also you can extend the same project as your major project.<br>For this you need to talk to your mentor for further details.<br>A Mini Project is a fun activity if you are able to understand what topic to choose (Mentors of the team will help you for this) and later you apply what you have learntand learn now this as well and then you will be able to build a small successfull project.<br>Feel free to ceck all the mini projects listed below</h5> </p>
    </div>
  </body>
</html>
