<%- include('../partials/home-header.ejs') %>
<link rel="stylesheet" href="/css/studymaterial.css">
      </head>

     <body>
        <%- include('../includes/navigation.ejs') %>


        <div class="jumbotron jumbotron-fluid">
            <button type="button" class="btn btn-success add-button" ><a href="/material/add" style="color: white; text-decoration: none;">Click here to Add Study Materials</a></button>
         <div class="jumbotron head">
          <div class="container">
             <h1 class="display-4"><b>Study Materials</b></h1>
             <p class="lead" style="color: #ffff66 ;">Subject-wise study material & important resources for complete preparation for your exams.</p>
          </div>
        </div>
        <br>
      </div>
    <br>
    <center><h1 class="display-6" style="color: #2e5693;"><b>Search Study Materials:</b></h1></center>
    <form action="/material/search" method="post">
    <div class="row">

    <div class="col-md-6 ">
        <div id=check >
          <br>
          <center><h3>Search by subject name </h3></center>
          <br>
          <label for="Semester">Select Semester :</label><br>
          <select data-target="secondList" id ="Semester" name="semester" class="firstList selectFilter custom-select">
          <option data-ref="one" >Semester 1</option>
          <option data-ref="two" >Semester 2</option>
          <option data-ref="three">Semester 3</option>
          <option data-ref="four">Semester 4</option>
          <option data-ref="five">Semester 5</option>
          <option data-ref="six">Semester 6</option>
          <option data-ref="seven">Semester 7</option>
          <option data-ref="eight">Semester 8</option>
          </select>
          <br />
          <label for="Subject">Select Subject :</label><br>
          <select data-target="thirdList" id ="Subject" name ="subject" class="secondList selectFilter  custom-select">
          <option data-belong="one" >Engineering mathematics 1</option>
          <option data-belong="one" >Engineering Physics</option>
          <option data-belong="one" >Engineering mechanics</option>
          <option data-belong="one" >Basic Electrical Engineering</option>
          <option data-belong="one" >Elements of mechanical engineering</option>
          <option data-belong="one" >Engineering physics lab</option>
          <option data-belong="one" >Kannada</option>
          <option data-belong="two">Engineering mathematics 2</option>
          <option data-belong="two">Engineering chemistry</option>
          <option data-belong="two">Basic Electronics</option>
          <option data-belong="two">Problem solving and programming in C</option>
          <option data-belong="two">Engineering Graphics</option>
          <option data-belong="two">Functional English</option>
          <option data-belong="two">Environmental science</option>
          <option data-belong="three">Engineering mathematics 3</option>
          <option data-belong="three">Digital electronics</option>
          <option data-belong="three">Discrete structure in computer science</option>
          <option data-belong="three">Data structure and applications</option>
          <option data-belong="three">Computer organization and architecture</option>
          <option data-belong="three">Introduction to Unix operating systems</option>
          <option data-belong="four">Engineering mathematics 4</option>
          <option data-belong="four">ARM Processor</option>
          <option data-belong="four">Finite automata and formal languages/option>
          <option data-belong="four">Object oriented programming Analysis and design of algorithms</option>
          <option data-belong="four">Operating systems</option>
          <option data-belong="four">Introductory project</option>
          <option data-belong="five">Mgmt,Entr and IPR</option>
          <option data-belong="five">Data communication</option>
          <option data-belong="five">Database Management system</option>
          <option data-belong="five">Compiler Design and system software</option>
          <option data-belong="five">Software engineering</option>
          <option data-belong="five">Soft skills</option>
          <option data-belong="six">Computer Networks</option>
          <option data-belong="six">Object Oriented Modeling and Design</option>
          <option data-belong="six">Industry oriented Programming Practices</option>
          <option data-belong="six">Unix System Progamming</option>
          <option data-belong="six">Digital Image Processing</option>
          <option data-belong="six">Principles of Programming</option>
          <option data-belong="six">Warehousing and Mining</option>
          <option data-belong="six">Advanced OOP</option>
          <option data-belong="six">Advanced DS & Algorithms</option>
          <option data-belong="six">Pattern Recognition</option>
          <option data-belong="six">Embedded Systems</option>
          <option data-belong="seven">Artificial Intelligence and machine Learning</option>
          <option data-belong="seven">Advanced Computer Archicture</option>
          <option data-belong="seven">Compiler Design and system software</option>
          <option data-belong="seven">Computer Graphics</option>
          <option data-belong="seven">Software testing</option>
          <option data-belong="seven">web technology</option>
          <option data-belong="seven">Operations Research</option>
          <option data-belong="seven">Multicore Architecture and Programming</option>
          <option data-belong="eight">Distributed Systems</option>
          <option data-belong="eight">Technical seminar Cryptography & Network Security</option>
          <option data-belong="eight">Cloud Computing Network Management</option>
          <option data-belong="eight">Data Science</option>
          <option data-belong="eight">Mobile application & Development</option>
          <option data-belong="eight">Ontology & Semantic Web</option>

          </select>
          <br>
    
          <br>
          <center><button type="submit" class="btn btn-success">Submit</button></center>
          </form>
          <br>
         </div>
      </div>
      <br>
      <div class="col-md-6 ">
        <form action="/material/search" method="post">
        <div class="search-div" style=" background-color: #e9ecef;">
          <br>
          <center><h3>Search by resource name </h3></center>
          <br>
          <br>
          <label for="i">Enter study material name :</label><br>
          <div class="input-group " id="search">
            <input type="text" id=" i" class="form-control" placeholder="textbook name etc"  required >
          </div>
          <br>
          <br>
          <center><button type="submit" class="btn btn-success">Submit</button></center>
          <br>
          <br>      
        </div>
      </div>
     
    </div>
</form>
  <br>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Different materials available:</h3>
    <ol>
      <li>Textbooks</li>
      <li>Seminar videos</li>
      <li>links to great websites </li>
    </ol>
  </div>

</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="/js/studymaterial.min.js"></script>
</body>
</html>